body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	min-width: 1366px;
	height: 100%;
	width: 100%;
}

/* --------------------SCAFFOLDING CSS------------------------- */

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

.flex.row {
	display: flex;
	flex-direction: row;
}

.flex.col {
	display: flex;
	flex-direction: column;
}

.flex.grow {
	flex: 1 1 auto;
}

.flex.static {
	flex: 0 0 auto;
}

.x-align.col,
.y-align.row {
	align-items: center;
}


.x-align.row,
.y-align.col {
	justify-content: center;
}

.std-margin {
	margin: 5px;
}

.std-padding {
	padding: 5px;
}

/* STANDARD STYLING */

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
	background: #eeeeee;
}
 
::-webkit-scrollbar-thumb {
	/* background: #0288d1; */
	background: #AAAAAA;
}

.h-edge-shadow {
	border-right: 1px solid #AAAAAA;
	box-shadow: 8px 0 15px 0px #CCCCCC;
}

/* --------------------------------------------- */
#header {
	color: white;
	background-color: #03a9f4;
    box-shadow: 0px 4px 4px #CCCCCC;	
}

#navbar {
	background-color: #0288d1;
	justify-content: flex-end;
}

#navbar a {
	color: white;
	text-decoration: none;
	padding: 5px 8px;
}

#navbar a:hover {
	background-color: #01579b;
}

#title {
	font-size: 200%;
	padding: 15px;
}

#sidebar {
	width: 300px;
	background-color: white;
	margin: 0 5px;
	padding: 5px 5px 0px 5px;
}

#search-div {
	border-bottom: 1px solid #CCCCCC;
}

#course-search-box {
	width: 100%;
	height: 35px;
	font-size: 100%;
	padding: 5px;
}

#card-parent {
	padding: 5px 0px;
	overflow-y: auto;
}

.course-card {
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: 2px 2px 2px 1px #888888;
	font-size: 75%;
	transition: .3s;
	position: relative;
}

.course-card:hover {
	background-color: #e1f5fe;
}

.course-card .card-col-1,
.course-card .card-col-2 {
	white-space: nowrap;
	padding: 4px;
	float: left;
}

.course-card .card-col-1 {
	width: 60%;
}

.course-card .card-col-2 {
	width: 40%;
}

.course-card .row {
	padding: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.course-card.selected {
	background-color: #039be5;
}

.course-card.selected * {
	color: white;
}

#card-insert-divider {
	border-bottom: 3px solid #AAAAAA;	
	width: 90%;
    margin: 3px auto;
}

#deck {
	width: 300px;
	background-color: white;
	overflow-y: auto;
	margin: 0px 5px 0px 5px;
}

#info-display {
	position: relative;
}

#calendar-wrapper {
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

#calendar-wrapper .time-div {
	flex: 1 1 1px;
}

#calendar-wrapper .calendar-col {
	flex: 1 1 1px;
	justify-content: space-between;
}

#calendar-wrapper .calendar-row {
	flex: 1 1 1px;
}

#calendar-wrapper .calendar-row:not(:nth-last-child(1)) {
	border-bottom: 1px solid #cccccc;
}

#calendar-wrapper .header {
	border-bottom: 1px solid #cccccc;
	padding: 0 0 3px 5px;
}

#calendar-wrapper #time-col {
	border-right: 1px solid #cccccc;
	width: 50px;
}

#calendar-wrapper .calendar-col:not(:nth-last-child(1)) {
	border-right: 1px solid #cccccc;
}

/* --------------------Course Info View CSS------------------------- */
#info-display {
	position: relative;
}

#course-name {
	font-size: 150%;
}